<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteBase /~e46762/wda/showvotes/webroot
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !favicon.ico$
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
